.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  min-height: 100vh;
  min-height: 100svh;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-info.contact-info a {
  color: var(--white-transparent);
  text-decoration: none;
}

.contact-info a svg {
  margin-right: 0.5rem;
  font-size: 30px;
}

.social-links a:last-child svg {
  margin-right: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
